<h2>Créditos</p>
<h3>Nombre del autor <%= nombre %></h3>
  <img src="../images/foto.jpg" width="100" alt="Yo">
  <p></p>
  <p></p>
  <p><iframe width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/0H01Rs3N9VQ"></iframe></p>
